.App {
  font-family: sans-serif;
  text-align: center;
}

.form-input-rapper {
  margin: 20px 12px;
  position: relative;
}
.form-label {
  display: block;
  padding: 4px 0;
}
.form-error {
  display: block;
  font-size: 14px;
  position: absolute;
  bottom: -16px;
  color: red;
}
.user-container {
  width: 140px;
  height: 140px;
}
.user-image {
  width: 100%;
  height: 60px;
  object-fit: cover;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
}
.search-wrapper {
  height: 60px;
  background-color: cornsilk;
}
